// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui-pro/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

// .hideDetailMenu thead tr th input{
//     display: none !important;
// }
.salescard {
  cursor: pointer;
  margin-left: 40px;
}
.responsive {
  width: 100%;
  overflow: scroll !important;
}
.form-check-input {
  width: 20px;
  height: 20px;
}
.checkbox-label {
  padding-left: 10px;
  padding-top: 3px;
}
.form-group-space {
  padding: 10px;
  & input {
    cursor: pointer;
  }
  & label {
    cursor: pointer;
  }
}

.ml-60 {
  margin-left: 60%;
}
.ml-50 {
  margin-left: 50%;
}

.message-block-img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.account-deleted {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.account-deleted .message-block {
  margin: auto;
}
.account-deleted .message-block-message {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.account-deleted .message-block-message-title {
  font-size: 28px;
  margin-top: 10px;
}
.account-deleted .message-block-message-text {
  font-size: 16px;
}
