// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui-pro/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

// .hideDetailMenu thead tr th input{
//     display: none !important;
// }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-body {
    max-width: 200%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table-row {
    width: 200%;
    overflow-x: scroll;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-body {
    max-width: 200%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table-row {
    width: 200%;
    overflow-x: scroll;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-body {
    max-width: 200%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table-row {
    width: 200%;
    overflow-x: scroll;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-body {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table-row {
    width: 100%;
    overflow-x: scroll;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-body {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table-row {
    width: 100%;
    overflow-x: scroll;
  }
}

// START For Sale Receipt
.react-confirm-alert-overlay {
  z-index: 99999;
}
.cancel-alert {
  padding-top: 10px;
  position: relative;
  opacity: 0.85;
}
// END

.salescard {
  cursor: pointer;
  width: 20%;
}

.form-check-input {
  width: 20px;
  height: 20px;
}
.checkbox-label {
  padding-left: 10px;
  padding-top: 3px;
}
.form-group-space {
  padding: 10px;
  & input {
    cursor: pointer;
  }
  & label {
    cursor: pointer;
  }
}

.ml-60 {
  margin-left: 60%;
}
.ml-50 {
  margin-left: 50%;
}

.message-block-img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.account-deleted {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.account-deleted .message-block {
  margin: auto;
}
.account-deleted .message-block-message {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.account-deleted .message-block-message-title {
  font-size: 28px;
  margin-top: 10px;
}
.account-deleted .message-block-message-text {
  font-size: 16px;
}
